---
layout: default
---

<header class="header">
  <div class="container">
    <div>
      <h1>{{ site.title }} (v{{ site.data.versions[0][0].name }})</h1>
      <div>
        <a class="badge" href="{{ '/pipelines?page=1&scope=all&ref=master' | prepend: site.repourl }}">
          <img src="{{ '/badges/master/pipeline.svg' | prepend: site.repourl }}" />
        </a>
        <a class="badge" href="{{ '/coverage/#_AllFiles' | prepend: site.baseurl }}">
          <img src="{{ '/badges/master/coverage.svg?job=coverage' | prepend: site.repourl }}" />
        </a>
      </div>
      <p><span class="text">{{ site.description }}</span></p>
    </div>
    <div class="code-preview">
      <code>
        HTTPX.get("https://news.ycombinator.com")
      </code>
    </div>
    <div class="code-preview">
      <p><span class="text">Convert curl commands into httpx</span></p>
      <div id="curl-command">
        <input id="curl-command-input" type="text" placeholder="insert curl command here..."/>
        <textarea id="curl-command-output" rows=0 style="display:none"></textarea>
      </div>
    </div>
    <a class="btn" href="{{ '/posts/index.html' | prepend: site.baseurl }}">
      Blog
    </a>
    <a class="btn" href="{{ '/rdoc/files/README_md.html' | prepend: site.baseurl }}">
      README
    </a>
    <a class="btn" href="{{ '/wiki/home.html' | prepend: site.baseurl }}">
      WIKI
    </a>
    <a class="btn" href="{{ '/feed.xml' | prepend: site.baseurl }}">
      RSS
    </a>
  </div>
</header>

<main class="main">
  <div class="container">
    <section class="core-guides">
      <div class="col">
        <a id="core" href="#core">
          <h2>Core (RDoc)</h2>
        </a>
        <ul>
          {% for item in site.data.core %}
          <li>
            <a href="{{ '/rdoc/classes/' | append: item.path | prepend: site.baseurl }}">
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="plugins">
      <a id="plugins" href="#plugins">
        <h2 id="plugins">Plugins</h2>
      </a>
      <dl>
        {% for plugin in site.data.plugins %}
          <dt>
            <a href="{{ '/wiki/' | append: plugin.path | prepend: site.baseurl }}">{{ plugin.name }}</a>:
          </dt>
          <dd>
            <div>{{ plugin.description }}</div>
          </dd>
        {% endfor %}
      </dl>
    </section>

    <section>
      <a id="release-notes" href="#release-notes">
        <h2>Release notes</h2>
      </a>
      <ul>
        {% for major in site.data.versions %}
        <li>
          {% for version in major %}
          <a href="{{ '/rdoc/files/doc/release_notes/' | append: version.path | prepend: site.baseurl }}">{{ version.name }}</a>
          {% unless forloop.last %}|{% endunless %}
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </section>

  </div>
</main>

<footer class="footer">
  <div class="container">
    <p>A production of <a href="{{ site.authorurl }}">HoneyryderChuck</a> and published under the <a href="{{ site.repourl | append: '/blob/master/LICENSE.txt' }}">Apache 2.0 License</a>.</p>
  </div>
</footer>
<script src="{{ '/scripts/curl_to_ruby.js' | prepend: site.baseurl }}"></script>
